@model IEnumerable<GaryGillespie_Practical.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<hr />
<h1>Data tables</h1>
<table id="productsTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Date Created
            </th>
            <th>
                Created By (username)
            </th>
        </tr>
    </thead>
</table>


<script>

    // init data tables example
    //Init DataTables with All Products
    $('#productsTable').DataTable({
        "ajax": {
            "url": "/Products/LoadAllProducts",
            "type": "GET",
            "dataType": "json",
        },
        "columnDefs": [{
            "targets": 2,
            "type": "num-fmt"
        }],
        "columns": [
            { "data": "id", "autoWidth": true },
            { "data": "name", "autoWidth": true },
            { "data": "salesPrice", render: $.fn.dataTable.render.number(',', '.', 2, '£'), "autoWidth": true },
            { "data": "quantity", "autoWidth": true },
            { "data": "log.createdDate", "autoWidth": true },
            { "data": "log.user.userName", "autoWidth": true },

        ]
    });


</script>
