@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1> Product Management Application </h1>
    <h2> BannTech practical assement project</h2>
    
    <a asp-area="" asp-controller="Products" asp-action="Index" class="btn-lg btn-success">View All Products</a>

</div>
